
<table class="table">
  {{!-- <thead>
    <tr>
      <th scope="col">File</th>
      <th scope="col">Download</th>
    </tr>
  </thead> --}}
  <tbody>
    {{#each fileSystem}}
    {{#unless this.IsDirectory }}
    <tr>
      <td><a href="https://api.leftist.gay/files/download/{{this.Path}}{{this.ObjectName}}">{{this.ObjectName}}</a></td>
    </tr>
    {{/unless}}
    {{#if this.IsDirectory }}
    <tr>
      <td><a href="/{{this.Path}}{{this.ObjectName}}">{{this.ObjectName}}</a><</td>
    </tr>
    {{/if}}
    {{/each}}
  </tbody>
</table>